In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df = pd.read_csv("Real_estate.csv")

df.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
 df_flower = pd.read_csv("mountain_flowers.csv")
 df_flower.head()

   petal_length  petal_width    name
0           1.4          0.2  violet
1           1.4          0.2  violet
2           1.3          0.2  violet
3           1.5          0.2  violet
4           1.4          0.2  violet

In [4]:
# number of convenience stores vs house price of unit area
# distance to the nearest MRT station vs house price of unit area

df_conv_area = df.loc[:, ['distance_to_the_nearest_MRT_station', 'number_of_convenience_stores','house_price_of_unit_area']]
df_conv_area

,distance_to_the_nearest_MRT_station,number_of_convenience_stores,house_price_of_unit_area
0,84.87882,10,37.9
1,306.59470,9,42.2
2,561.98450,5,47.3
3,561.98450,5,54.8
4,390.56840,5,43.1
...,...,...,...
409,4082.01500,0,15.4
410,90.45606,9,50.0
411,390.96960,7,40.6
412,104.81010,5,52.5
413,90.45606,9,63.9

In [5]:
fig = px.scatter(df_conv_area, x="distance_to_the_nearest_MRT_station", y="house_price_of_unit_area", title="The factors that decides house price")

In [6]:
st.plotly_chart(fig)

2023-10-05 02:11:25.652
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/sungwonlee/anaconda3/envs/Data200SungwonL/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [7]:
df_conv_area = df.loc[:, ['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores','house_price_of_unit_area']]

In [14]:
df_conv_area[(df_conv_area['distance_to_the_nearest_MRT_station'] > 100) & (df_conv_area['distance_to_the_nearest_MRT_station']< 200 )]

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,house_price_of_unit_area
65,40.1,123.7429,8,44.3
66,1.0,193.5845,6,50.7
67,8.5,104.8101,5,56.8
82,13.2,150.9347,7,48.1
94,40.9,167.5989,5,41.0
95,8.0,104.8101,5,51.8
101,12.7,170.1289,1,32.9
102,1.1,193.5845,6,54.4
106,17.2,189.5181,8,47.1
110,8.1,104.8101,5,51.6
111,33.3,196.6172,7,39.4
114,30.6,143.8383,8,53.3
123,0.0,185.4296,0,45.5
125,1.1,193.5845,6,48.6
128,41.3,124.9912,6,60.7
134,33.4,186.9686,6,42.2
146,0.0,185.4296,0,52.2
149,34.9,179.4538,8,39.7
150,35.8,170.7311,7,48.5
163,8.5,104.8101,5,55.5
164,0.0,185.4296,0,55.2
177,33.0,181.0766,9,42.0
188,34.8,190.0392,8,44.3
197,34.4,126.7286,8,48.2
198,34.0,157.6052,7,39.1
209,34.8,175.6294,8,40.9
220,37.2,186.5101,9,78.3
225,1.1,193.5845,6,49.0
273,13.2,170.1289,1,29.3
280,2.3,184.3302,6,45.4
299,33.2,121.7262,10,46.1
300,2.5,156.2442,4,36.9
306,14.4,169.9803,1,50.2
313,8.3,104.8101,5,42.8
322,12.9,187.4823,1,33.1
323,28.6,197.1338,6,42.5
333,7.8,104.8101,5,38.4
345,0.0,185.4296,0,37.9
349,7.8,104.8101,5,47.0
358,1.1,193.5845,6,45.1
363,32.3,109.9455,10,48.0
372,33.9,157.6052,7,41.5
381,8.0,132.5469,9,47.3
386,0.0,185.4296,0,55.3
389,40.9,122.3619,8,67.7
399,12.7,170.1289,1,37.3
402,12.7,187.4823,1,28.5
403,30.9,161.9420,9,39.7
405,23.0,130.9945,6,37.2
412,8.1,104.8101,5,52.5

In [15]:
df_conv_area['house_age'].max()

43.8